
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ melon_name }}</td>
            <td>{{ quantity }}</td>
            <td>{{ price }}</td>
            <td>{{ total_per_melon_id }}</td>
        </tr>
        </tbody>
    </table>

    <h3>Total: {{ total_cart }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}